@font-face {
  font-family: "iconfont"; /* Project id 3229414 */
  src: url('iconfont.woff2?t=1647070479432') format('woff2'),
       url('iconfont.woff?t=1647070479432') format('woff'),
       url('iconfont.ttf?t=1647070479432') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e647";
}

.icon-guanbi2:before {
  content: "\e725";
}

.icon-tubiaozhizuomoban-:before {
  content: "\e60c";
}

.icon-kuaidiyuan_o:before {
  content: "\ebc1";
}

.icon-denglu:before {
  content: "\e604";
}

.icon-mima:before {
  content: "\e8b2";
}

